VITE_API_BASE_URL=http://localhost:8001
VITE_SUPABASE_URL=https://dmwlrqefeymogiupozdk.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_MVRpiBHDE9FRgNjLqW6ZBg_WytQT20T
VITE_APP_NAME=Confira
VITE_APP_NAME=Confira
